<section class='password-resets-section' id='password-resets'>
  <div class='container px-4 px-lg-5'>
    <div class='card o-hidden border-0 shadow-lg my-5'>
      <div class='card-body p-0'>
        <div class='row'>
          <div class='p-5'>
            <div class='text-center'>
              <h1 class='h4 text-gray-900 mb-4'>パスワード変更申請</h1>
              <p>パスワード再設定のご案内が送信されます。</p>
            </div>
            <%= form_with url: password_resets_path, local: true do |f| %>
              <div class='form-group'>
                <%= f.email_field :email, class: 'form-control form-control-user', placeholder: User.human_attribute_name(:email) %>
              </div>
              <%= f.submit 'メールを送信する', class: 'btn btn-primary btn-user btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


