<!-- Searchbox-->
<section class="searchform-section" id="search">
  <div class="container px-4 px-lg-5">
  <h2>キーワードから探す</h2>
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-10 mx-auto text-center">
        <div class="form-search">
          <div class="row">
            <%= render 'shared/search_form', q: @q, url: mountains_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Index-->
<section class="index-section" id="index">
  <div class="container px-4 px-lg-5">
    <div class="row">
      <% if @mountains.present? %>
        <%= render @mountains %>
      <% else %>
        <h2>検索条件と一致する結果が見つかりませんでした。<h2>
      <% end %>
    </div>
  <%= paginate @mountains %>
  </div>
</section>

<!-- Map-->
<section class="map-section" id="map">
  <div class="container px-4 px-lg-5">
    <!-- Featured Map Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <!-- googlemapを埋め込む場所　-->
      <input id="pac-input" class="form-control" type="text" placeholder="キーワード" />
      <div id='googlemap' style="height:420px" class='mb-3 mb-lg-0 rounded-4'></div>
    </div>
  </div>
</section>