<!-- ユーザー詳細-->
<section class="user bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- アイコン-->
        <%= image_tag 'avataaars.svg', class: "user-avatar mb-5" %>
        <!-- 名前とメールアドレス-->
        <h1 class="user-heading text-uppercase mb-0"><%= @user.name %></h1>
        <p class="user-subheading font-weight-light mb-0"><%= @user.email%></p>
    </div>
</section>

<!-- 投稿-->
<%= render 'posts/post', posts: @posts %>