// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.coshow-section {
  padding: 10rem 0;
}
.coshow-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .coshow-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.coshow-section .coshow-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .coshow-section .coshow-text {
    padding: 5rem;
  }
  .coshow-section .coshow-text hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 30%;
  }
}


.weather-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}
.weather-section p {
  margin-bottom: 5rem;
}