.map-section {
  padding: 5rem 0;

  .featured-text {
    padding: 2rem;
  }
  .map-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #64a19d;
    }
    .map-text {
      padding: 5rem;
    }
     .map-text hr {
      border-color: #64a19d;
      border-width: 0.25rem;
      width: 30%;
    }
  }
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  margin: 10px;
  text-overflow: ellipsis;
  width: 400px;
}

.terms-policy-section {
  padding: 5rem 0 5rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


.area-section{
  .row > * {
    padding-right: 0;
    padding-left: 0;
  }
  .card-footer {
    padding: 0rem 1.3rem;
  }
  .btn {
    padding: 1.25rem 1rem;
    border-radius: 1rem;
  }
}
