// Place all the styles related to the mountains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mtshow-section {
  padding: 10rem 0 0 0;
}
.mtshow-section .featured-text {
  padding: 2rem 4rem;
}
@media (min-width: 992px) {
  .mtshow-section .featured-text {
    padding: 0 0 0 5rem;
    border-left: 0.5rem solid #64a19d;
  }
}
@media (min-width: 1200px) {
  .mtshow-section .featured-text {
    padding: 0 0 0 6rem;
  }
}

.mtshow-section .mtshow-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .mtshow-section .mtshow-text {
    padding: 5rem;
  }
  .mtshow-section .mtshow-text hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 30%;
  }
}

.index-section .img-fluid {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 576px) {
  .index-section .img-fluid {
    height: 180px;
  }
}
@media (min-width: 768px) {
  .index-section .img-fluid {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .index-section .img-fluid {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .index-section .img-fluid {
    height: 300px;
  }
}

.weather-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.weather-section p {
  margin-bottom: 5rem;
}

.gallery-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.gallery-section .card {
  border: 0;
}
.gallery-section .card h4, .gallery-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.gallery-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
  height: 1px;
}
.gallery-section .img-fluid {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.gallery-section .social {
  margin-top: 5rem;
}
.gallery-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.gallery-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.gallery-section .social a:active {
  color: #fff;
}