// Place all the styles related to the PasswordChanges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.password-resets-section{
  margin: 6rem 0;

  .container {
    max-width: 720px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }

  .btn {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }
  
  .btn:hover {
    color: white;
  }

  .btn-block {
    display: block;
    width: 100%;
  }
}

