// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.user .user-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.user .user-subheading {
  font-size: 1.25rem;
}
.user .user-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .user {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .user .user-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .user .masthead-subheading {
    font-size: 1.5rem;
  }
}

.registration-section{
  margin: 6rem 0;

  .container {
    max-width: 1140px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
    margin-bottom: 1rem;
  }

  .btn-google:hover {
    background-color: #d13e31;
  }
  
  .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
  }

  .btn-facebook:hover {
    background-color: #344d81;
  }
  
  .bg-register-image {
    background: url("../assets/img/bg-registration.jpg");
    background-position: center;
    background-size: cover;
  }  
}

